@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
}

#container-login {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 445px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-register {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 480px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-rectangle {
    background-color: #1D1F20;
    position: relative;
    top: 50%;
    margin: auto;
    height: 480px;
    text-align: right;
    padding-top: 5px;
}

#container-home {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    width: 340px;
    height: 445px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#title {
    position: relative;
    background-color: #1A1C1D;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.lock {
	position: relative;
	top: 2px;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 15px;
}

.input-addon {
    float: left;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 4px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=text] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=text]:focus {
    border: 1px solid #373b3d;
}

input[type=password] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=password]:focus {
    border: 1px solid #373b3d;
}

input[type=email] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=email]:focus {
    border: 1px solid #373b3d;
}

.forgot-password {
    position: relative;
    bottom: 0%;
}

.forgot-password a:link {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:visited {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #FFF;
    transition: color 1s;
}

.privacy {
    margin-top: 5px;
    position: relative;
    font-size: 12px;
    bottom: 0%;
}

.privacy a:link {
    color: #949494;
    text-decoration: none;
}

.privacy a:visited {
    color: #949494;
    text-decoration: none;
}

.privacy a:hover {
    color: #C1C3C6;
    transition: color 1s;
}

.topRow a:link {
    color: #949494;
    text-decoration: none;
}

.topRow a:hover{
    color: #C1C3C6;
    transition: color 1s;
}

*:focus {
    outline: none;
}

.remember-me {
    margin: 10px 0;
}

input[type=submit] {
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

.register {
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
}

.clearfix {
    clear: both;
}

#register-link {
    margin-top: 10px;
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

#login-link {
    margin-top: 10px;
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

.rectangle{
    width: 100vw;
    height: 95px;
    background-color: #373E4A;
    color: white;
    font-size: 50px;
    padding-top: 20px;
}

.topRow{
    margin: auto;
    text-align: right;
    font-size: 15px;
    bottom: 0%;
    padding-right: 2px;
    padding-top: 5px;
}

.search{
    width: 500px;
    height: 40px;
    margin-left: 472px;
    background-color: #ffffff;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 30px;
    padding: 20px 20px;
}

.search input{
    width: 100%;
    height: 40px;
    border: none;
    outline: transparent;
    background-color: transparent;
}

.search i{
    color: #ffffff;
}

.featured-box{
    width: 440px;
    height: 250px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
}

.featured-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.featured-heading{
    padding-left: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
}

.cs-hidden{
    overflow: visible !important;
}

#genre{
    border-top: 0.1px solid #ffffff38;
    margin-left: 20px;
    margin-right: 20px;
}

.genre-heading{
    margin: 15px 20px 20px 0px;
    font-weight: 500;
    font-size: 1.3rem;
}

.genre-box{
    width: 290px;
    height: 165px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
}

.genre-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#oscar{
    border-top: 0.1px solid #ffffff38;
    margin-left: 20px;
    margin-right: 20px;
}

.oscar-heading{
    margin: 15px 20px 0px 0px;
    font-weight: 500;
    font-size: 1.3rem;
}

.oscar-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 25px 0px 0px 0px;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    background-color: #ffffff;
}

.oscar-b-img{
    width: 100%;
    height: 270px;
}

.oscar-box:hover{
    transform: translateY(-10px);
    transition: 0.005s;
    box-shadow: 0 0px 6px 4px #ffffff;
}

.oscar-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.oscar-b-text strong{
    color: #3a3a3a;
    margin: 0px;
}

#latest{
    border-top: 0.1px solid #ffffff38;
    margin-left: 20px;
    margin-right: 20px;
}

.latest-heading{
    margin: 15px 20px 0px 0px;
    font-weight: 500;
    font-size: 1.3rem;
}

.latest-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 25px 0px 0px 0px;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    background-color: #ffffff;
}

.latest-b-img{
    width: 100%;
    height: 270px;
}

.latest-box:hover{
    transform: translateY(-10px);
    transition: 0.005s;
    box-shadow: 0 0px 6px 4px #ffffff;
}

.latest-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-b-text strong{
    color: #3a3a3a;
    margin: 0px;
}

#popular{
    border-top: 0.1px solid #ffffff38;
    margin-left: 20px;
    margin-right: 20px;
}

.popular-heading{
    margin: 15px 20px 0px 0px;
    font-weight: 500;
    font-size: 1.3rem;
}

.popular-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 25px 0px 0px 0px;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    background-color: #ffffff;
}

.popular-b-img{
    width: 100%;
    height: 270px;
}

.popular-box:hover{
    transform: translateY(-10px);
    transition: 0.005s;
    box-shadow: 0 0px 6px 4px #ffffff;
}

.popular-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-b-text strong{
    color: #3a3a3a;
    margin: 0px;
}

.latest-b-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}